@model NiCeScanner.Models.ScanCode

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ScanCode</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <div class="input-group">
                    <input asp-for="Code" class="form-control" />
                    <div class="input-group-append">
                        <button type="button" class="btn btn-secondary" id="generateGuid">Generate GUID</button>
                    </div>
                </div>
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CanEdit" /> @Html.DisplayNameFor(model => model.CanEdit)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ScanId" class="control-label"></label>
                <select asp-for="ScanId" class ="form-control" asp-items="ViewBag.ScanId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        document.getElementById('generateGuid').addEventListener('click', function () {
            document.getElementById('Code').value = ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, c =>
                (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
            );
        });
    </script>
}
