@model IEnumerable<NiCeScanner.Models.Advice>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div id="tableContainer" class="table-container">
    <partial name="_AdvicesTable" model="@Model" />
</div>